.about {
  @include overTab {
    background-image: url('../img/PC-assets/background-image-about.jpg');
    background-size: cover;
  }
  .about-wrapper {
    @include overTab {
      padding: 4rem 0;
    }
    .sp-about-img-wrapper {
      display: block;
      @include overTab {
        display: none;
      }
    }
    .about-contents-wrapper {
      margin-top: 2rem;
      @include overTab {
        padding: 4.8rem;
        max-width: 50.4rem;
        box-sizing: border-box;
        background-color: cl(white);
        margin-top: 0;
      }
      .about-image-wrapper {
        margin-top: 3rem;
        display: none;
        @include overTab {
          display: block;
        }
      }
    }
  }
}