.fv {
  background: linear-gradient(to right, cl(blue1), cl(blue2));
  height: 100vh;
  .kv-list {
    position: absolute;
    width: 100%;
    top: 7vh;
    @include overTablet {
      top: 11vh;
    }
    .kv-item {
      background-size: cover;
      background-position: center 0;
      height: 93vh;
      @include overTablet {
        height: 89vh;
      }
      &:nth-child(1) {
        background-image: url('../img/SP-assets/top-image-1.png');
        @include overTab {
          background-image: url('../img/PC-assets/top-image-1.png');
        }
      }
      &:nth-child(2) {
        background-image: url('../img/SP-assets/top-image-2.png');
        @include overTab {
          background-image: url('../img/PC-assets/top-image-2.png');
        }
      }
      &:nth-child(3) {
        background-image: url('../img/SP-assets/top-image-3.png');
        @include overTab {
          background-image: url('../img/PC-assets/top-image-3.png');
        }
      }
    }
  }
  .fv-content-wrapper {
    position: absolute;
    @include underSE {
      top: 15%;
    }
    top: 25%;
    @include overTab {
      top: 16%;
      left: 8%;
    }
    @include overTablet {
      top: 18%;
      left: 5%;
    }
    @include overTablet2 {
      top: 20%;
      left: 14%;
    }
    .main-title {
      color: cl(white);
      font-family: 'Lato', sans-serif;
      line-height: 0;
      text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
      span {
        display: inline-block;
        font-size: 4.3rem;
        line-height: 5rem;
        @include overTab {
          font-size: 7rem;
          line-height: 9rem;
        }
        @include overTablet {
          font-size: 9.6rem;
          line-height: 11.2rem;
        }
      }
    }
    .sub-title {
      color: cl(blue2);
      margin-top: 4rem;
      font-size: 1.95rem;
      @include overTab {
        font-size: 2.4rem;
      }
      @include overTablet {
        font-size: 3.2rem;
      }
      .copy {
        display: inline-block;
        background-color: cl(white);
        box-shadow: 1rem 6px 0 0 cl(blue2);
        padding: 0.6rem 1rem;
        transform: skewX(155deg);
        @include overTab {
          padding: 1rem 2.7rem;
          transform: skewX(140deg);
        }
        &:first-child {
          margin-bottom: 2rem;
        }
        span {
          display: inline-block;
          transform: skewX(-155deg);
          @include overTab {
            transform: skewX(-140deg);
          }
        }

      }
    }
    .news-wrapper {
      @include underSE {
        margin-top: 5rem;
      }
      margin-top: 11.5rem;
      color: cl(blue2);
      font-size: 1.4rem;
      width: 100%;
      @include overTab {
        display: flex;
        background-color: cl(blue2);
        margin-top: 8rem;
      }
      @include overTablet {
        margin-top: 11.5rem;
      }
      .news {
        color: cl(white);
        background-color: cl(blue2);
        border-right: 10px solid cl(blue2);
        display: inline-block;
        padding-left: 1.1rem;
        @include overTab {
          padding: 2.4rem 3rem;
        }
        @include overTablet {
          padding: 2.4rem 4.1rem;
        }
      }
      .news-content {
        background-color: cl(white);
        border: 2px solid cl(blue2);
        padding: 1.8rem 0 1.8rem 0.3rem;
        @include overTab {
          transform: skewX(140deg);
          padding: 2.4rem 3rem;
          width: 59%;
        }
        @include overTablet {
          width: 65%;
        }
        p {
          display: inline-block;
          margin-right: 0.3rem;
          @include overTab {
            transform: skewX(-140deg);
            margin-right: 2rem;
          }
        }
        .category {
          color: cl(white);
          background-color: cl(orange);
          padding: 0.3rem;
          @include overTab {
            padding: 0.5rem 1.2rem;
          }
        }
      }
      .news-arrow {
        display: none;
        @include overTab {
          display: inline-block;
        }
        position: relative;
        /*形状*/
        padding: 0 1.3rem;
        text-decoration: none;
        outline: none;
        &::before {
          content: '';
          /*絶対配置で下線の位置を決める*/
          position: absolute;
          top: 3.5rem;
          left: 180%;
          /*下線の形状*/    
          width: 85%;
          height: 1px;
          background: cl(white);
          /*アニメーションの指定*/
          transition: all .3s;
        }
        &::after {
          content: '';
          /*絶対配置で矢印の位置を決める*/
          position: absolute;
          top: 3.2rem;
          right: -4.5rem;
          /*矢印の形状*/    
          width: 1rem;
          height: 1px;
          background: cl(white);
          transform: rotate(35deg);
          /*アニメーションの指定*/
          transition: all .3s;
        }
      }
    }
  }
}

.slick-arrow {
  display: none!important;
}
