// インナー
.inner {
  max-width: 101.6rem;// ★ //
  margin: 0 auto;
  padding: 0 1.5rem;
  @include overTab {

  }
}

// セクションの上部余白
.cmn-section-wrapper {
  margin-top: 16rem;
}

// セクションタイトル
.section-cmn-title {
  display: inline-block;
  font-size: 3.2rem;
  @include overTab {
    font-size: 4.8rem;
  }
}
.section-cmn-border {
  display: inline-block;
  width: 1px;
  height: 1.6rem;
  background-color: cl(blue1);
  transform: skewX(140deg);
  margin: 0 1rem;
  @include overTab {
    height: 2.6rem;
    margin: 0 2rem;
  }
}
.section-cmn-subtitle {
  font-size: 2rem;
  color: cl(blue1);
  @include overTab {
    font-size: 2.4rem;
  }
}

// セクション（SERVICES,WORKS）のメッセージ
.section-cmn-message {
  font-size: 2.4rem;
  margin-top: 2rem;
  span {
    @include overTab {
      display: inline-block;
    }
  }
  @include overTab {
    font-size: 3.2rem;
  }
}

// セクションのテキスト
.section-texts {
  font-size: 1.4rem;
  line-height: 3.2rem;
  margin-top: 2rem;
  span {
    display: inline-block;
  }
  @include overTab {
    font-size: 1.6rem;
  }
}

// 共通のボタン
.cmn-link-btn {
  display: inline-block;
  background-color: cl(blue1);
  color: cl(white);
  font-size: 1.4rem;
  box-shadow: 0 2px 4px rgba(24,40,72,0.46);
  margin: 4rem auto 0;
  padding: 1.5rem 4.8rem;
  @include overTab {
    font-size: 1.6rem;
    margin-top: 4rem;
    padding: 2.5rem 4rem;
  }
  // ボタンにホバーした時
  &:hover {
    .cmn-link-arrow {
      &::before {
        left: 68%;
      }
      &::after {
        right:-55%;
      }
    }
  }
  .cmn-link-text {

  }
}

// 共通の矢印
.cmn-link-arrow {
  position: relative;
  /*形状*/
  display: inline-block;
  padding: 0 1.3rem;
  text-decoration: none;
  outline: none;
  &::before {
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    top: -0.5rem;
    left: 30%;
    /*下線の形状*/    
    width: 85%;
    height: 1px;
    background: cl(white);
    /*アニメーションの指定*/
    transition: all .3s;
  }
  &::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: -0.8rem;
    right: -0.5rem;
    /*矢印の形状*/    
    width: 1rem;
    height: 1px;
    background: cl(white);
    transform: rotate(35deg);
    /*アニメーションの指定*/
    transition: all .3s;
  }
}

// ボタンのwrapper
.btn-wrapper {
  text-align: center;
  @include overTab {
    text-align: left;
  }
}

.btn-wrapper2 {
  text-align: center;
}

// スマホ時の改行
.sp-br {
  display: inline-block;
  @include overTab {
    display: none;
  }
}

// PC時の改行
.pc-br {
  display: none;
  @include overTab {
    display: block;
  }
}

// スムーススクロール
html {
  scroll-behavior: smooth;
}